akregatorrc
autostart/*
autostart-scripts/*
baloofileinformationrc
baloofilerc
base16-shell/*
bluedevilglobalrc
coc/*
dconf/*
dolphinrc
falkon/*
fontconfig/*
gtk-3.0/*
gtkrc
gtkrc-2.0
gwenviewrc
htop/*
kactivitymanagerdrc
kactivitymanagerd-statsrc
katemetainfos
katerc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcminputrc
kconf_updaterc
KDE/*
kdeconnect/*
kded5rc
kdeglobals
kde.org/
kglobalshortcutsrc
khotkeysrc
kmixrc
knfsshare
konsolerc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/*
manjaro/*
manjaro-hello.json
nvim/plugged/*
nvim/autoload/*
nvim/.netrwhist
pamac/*
plasma-localerc
plasma-nm
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc*
plasmashellrc
powermanagementprofilesrc
pulse/*
session/*
spectaclerc
systemsettingsrc
touchpadxlibinputrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xsettingsd/*
yakuakerc
